<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:include="layouts/default :: page">
<body>
<div th:fragment="content">
    <div class="page-header">
        <h1 th:text="#{registration.heading}">Sign Up</h1>
    </div>
    <form th:action="@{/registration}" id="form" method="post" class="form-sign needs-validation"
          th:object="${userRegistrationForm}">
        <div class="form-group">
            <label th:text="#{registration.label.username}" class="control-label" for="username">User Name</label>
            <input type="text" class="form-control" id="username" th:field="*{username}"
                   th:attr="placeholder=#{registration.placeholder.username}" th:required="required"/>
            <label th:if="${#fields.hasErrors('username')}" class="error" style="display: inline-block;">
                <ul>
                    <li th:each="err : ${#fields.errors('username')}" th:text="${err}"></li>
                </ul>
            </label>

        </div>
        <div class="form-group">
            <label th:text="#{registration.label.email}" class="control-label" for="email">Email</label>
            <input type="email" class="form-control" id="email" th:field="*{email}"
                   th:attr="placeholder=#{registration.placeholder.email}" th:required="required"/>
            <label th:if="${#fields.hasErrors('email')}" class="error" style="display: inline-block;">
                <ul>
                    <li th:each="err : ${#fields.errors('email')}" th:text="${err}"></li>
                </ul>
            </label>
        </div>
        <div class="form-group">
            <label th:text="#{registration.label.password}" class="control-label" for="password">Password</label>
            <input type="password" class="form-control" th:field="*{password}" id="password"
                   th:attr="placeholder=#{registration.placeholder.password}" th:required="required"/>
            <label th:if="${#fields.hasErrors('password')}" class="error" style="display: inline-block;">
                <ul>
                    <li th:each="err : ${#fields.errors('password')}" th:text="${err}"></li>
                </ul>
            </label>
        </div>
        <div class="form-group">
            <label th:text="#{registration.label.confirmPassword}" class="control-label" for="confirmPassword">Confirm
                Password</label>
            <input type="password" class="form-control" th:field="*{confirmPassword}" id="confirmPassword"
                   th:attr="placeholder=#{registration.placeholder.confirmPassword}" th:required="required"/>
            <label th:if="${#fields.hasErrors('confirmPassword')}" class="error" style="display: inline-block;">
                <ul>
                    <li th:each="err : ${#fields.errors('confirmPassword')}" th:text="${err}"></li>
                </ul>
            </label>
        </div>

        <input type="submit" th:value="#{registration.btn.submit}" class="btn btn-success btn-block" value="Sign Up!"/>
    </form>
</div>

<div th:fragment="scripts" th:remove="tag">
    <script type="text/javascript" src="/webjars/jquery-validation/1.17.0/dist/jquery.validate.min.js"></script>
    <script th:inline="javascript">
        $(function () {
            $('.needs-validation').validate({
                rules: {
                    username: {
                        required: true,
                        minlength: [[${T(pro.ofitserov.forumtest1.util.ForumConstants).USERNAME_LENGTH_MIN}]],
                        maxlength: [[${T(pro.ofitserov.forumtest1.util.ForumConstants).USERNAME_LENGTH_MAX}]]
                    },
                    email: {
                        required: true,
                        email: true
                    },
                    password: {
                        required: true,
                        minlength: [[${T(pro.ofitserov.forumtest1.util.ForumConstants).PASSWORD_LENGTH_MIN}]],
                        maxlength: [[${T(pro.ofitserov.forumtest1.util.ForumConstants).PASSWORD_LENGTH_MAX}]]
                    },
                    confirmPassword: {
                        required: true,
                        minlength: [[${T(pro.ofitserov.forumtest1.util.ForumConstants).PASSWORD_LENGTH_MIN}]],
                        maxlength: [[${T(pro.ofitserov.forumtest1.util.ForumConstants).PASSWORD_LENGTH_MAX}]],
                        equalTo: "#password"
                    }
                }
            });
        });
    </script>
</div>
</body>
</html>