<!DOCTYPE html>
<!--suppress ThymeleafVariablesResolveInspection -->
<html xmlns:th="http://www.thymeleaf.org"
      th:fragment="page">
<head>
    <title th:text="${title}">My Forum</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/4.0.0-2/css/bootstrap.min.css"/>
    <link rel="stylesheet" th:href="@{/css/theme.css}"/>
    <link rel="icon" th:href="@{/images/favicon.ico}" type="image/vnd.microsoft.icon"/>
</head>
<body>

<div th:replace="fragments/header :: header">Header goes here!</div>

<div class="container">
    <div th:replace="this :: content"></div>
</div>

<div th:replace="fragments/footer :: footer">Footer goes here!</div>

<script type="text/javascript" src="/webjars/jquery/3.2.1/jquery.min.js"></script>
<script type="text/javascript" src="/webjars/bootstrap/4.0.0-2/js/bootstrap.min.js"></script>
<div th:replace="this :: scripts"></div>

</body>
</html>