<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:include="layouts/default :: page">
<body>
<div th:fragment="content">
    <div class="page-header">
        <h1 th:text="${title}">Topic</h1>
    </div>
    <form th:action="@{/topic/add}" th:object="${topic}" method="POST" class="form-sign needs-validation">
        <input type="hidden" th:field="*{id}" />
        <input type="hidden" name="section_id" th:value="${section.id}"/>
        <div class="form-group">
            <label th:text="#{topic.label.title}" for="title">Title</label>
            <input type="text" class="form-control" id="title" th:field="*{title}" th:required="required"/>
            <label th:if="${#fields.hasErrors('title')}" class="error" style="display: inline-block;">
                <ul>
                    <li th:each="err : ${#fields.errors('title')}" th:text="${err}"></li>
                </ul>
            </label>
        </div>
        <div class="form-group">
            <label th:text="#{topic.label.text}" for="text">Text</label>
            <textarea class="form-control" id="text" th:field="*{text}" th:required="required" rows="5"></textarea>
            <label th:if="${#fields.hasErrors('text')}" class="error" style="display: inline-block;">
                <ul>
                    <li th:each="err : ${#fields.errors('text')}" th:text="${err}"></li>
                </ul>
            </label>
        </div>
        <input type="submit" th:value="${title}" class="btn btn-lg btn-primary" value="Submit"/>
    </form>
</div>

<div th:fragment="scripts" th:remove="tag">
    <script type="text/javascript" src="/webjars/jquery-validation/1.17.0/dist/jquery.validate.min.js"></script>
    <script th:inline="javascript">
        $(function () {
            $('.needs-validation').validate();
        });
    </script>
</div>

</body>
</html>