<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      th:include="layout :: page">
<body>
<div th:fragment="content">
    <div class="page-header">
        <h1 th:text="#{topic.heading.add}">Add topic</h1>
    </div>
    <form th:action="@{/topic/add}" th:object="${topic}" method="POST" class="form-sign needs-validation" th:novalidate="novalidate">
        <div class="form-group">
            <label th:text="#{topic.label.title}" for="title">Title</label>
            <input type="text" class="form-control" id="title" th:field="*{title}" th:required="required"/>
            <div th:text="#{notEmpty.field}" class="invalid-feedback">
                This is a required field
            </div>
            <div th:if="${#fields.hasErrors('title')}" class="alert alert-danger form-sign my-1">
                <ul class="m-0">
                    <li th:each="err : ${#fields.errors('title')}" th:text="${err}"></li>
                </ul>
            </div>
        </div>
        <div class="form-group">
            <label th:text="#{topic.label.text}" for="text">Text</label>
            <textarea class="form-control" id="text" th:field="*{text}" th:required="required" rows="5"></textarea>
            <div th:text="#{notEmpty.field}" class="invalid-feedback">
                This is a required field
            </div>
            <div th:if="${#fields.hasErrors('text')}" class="alert alert-danger form-sign my-1">
                <ul class="m-0">
                    <li th:each="err : ${#fields.errors('text')}" th:text="${err}"></li>
                </ul>
            </div>
        </div>
        <button th:value="#{topic.btn.submit}" type="submit" class="btn btn-lg btn-primary">Add</button>
    </form>
</div>

<div th:fragment="scripts" th:remove="tag">
    <script src="/js/check-forms.js"></script>
</div>
</body>
</html>