<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:include="layouts/default :: page">
<body>
<div th:fragment="content">
    <div class="page-header">
        <h1 th:text="#{profile.heading.edit.password}">Edit</h1>
    </div>
    <form th:action="@{/profile/edit/password}" id="form" method="post" class="form-sign needs-validation"
          th:object="${changePasswordForm}">

        <div class="form-group">
            <label th:text="#{profile.label.password.new}" class="control-label" for="newPassword">newPassword</label>
            <input type="password" class="form-control" th:field="*{newPassword}" id="newPassword"
                   th:required="required"/>
            <label th:if="${#fields.hasErrors('newPassword')}" class="error" style="display: inline-block;">
                <ul>
                    <li th:each="err : ${#fields.errors('newPassword')}" th:text="${err}"></li>
                </ul>
            </label>
        </div>
        <div class="form-group">
            <label th:text="#{profile.label.password.new.confirm}" class="control-label" for="newConfirmPassword">Confirm
                Password</label>
            <input type="password" class="form-control" th:field="*{newConfirmPassword}" id="newConfirmPassword"
                   th:required="required"/>
            <label th:if="${#fields.hasErrors('newConfirmPassword')}" class="error" style="display: inline-block;">
                <ul>
                    <li th:each="err : ${#fields.errors('newConfirmPassword')}" th:text="${err}"></li>
                </ul>
            </label>
        </div>

        <input type="submit" th:value="#{profile.btn.edit.password}" class="btn btn-success btn-block" value="Edit"/>
    </form>
</div>

<div th:fragment="scripts" th:remove="tag">
    <script type="text/javascript" src="/webjars/jquery-validation/1.17.0/dist/jquery.validate.min.js"></script>
    <script th:inline="javascript">
        $(function () {
            $('.needs-validation').validate({
                rules: {
                    newPassword: {
                        required: true,
                        minlength: [[${minLengthPassword}]],
                        maxlength: [[${maxLengthPassword}]]
                    },
                    newConfirmPassword: {
                        required: true,
                        minlength: [[${minLengthPassword}]],
                        maxlength: [[${maxLengthPassword}]],
                        equalTo: "#newPassword"
                    }
                }
            });
        });
    </script>
</div>
</body>
</html>