.border-top {
    border-top: 1px solid #e5e5e5
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

.page-header {
    padding-bottom: 9px;
    margin: 40px 0 20px;
    border-bottom: 1px solid #e5e5e5;
}

.reply-published {
    font-style: italic;
    color: #6c757d;
}

input.error {
    border: 1px solid #dc3545;
}

label.error {
    display: none;
    width: 100%;
    margin-top: .25rem;
    font-weight: normal;
    font-size: 80%;
    color: #dc3545;
}

.user-photo {
    width: 100px;
    height: 100px;
}