<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      th:include="layout :: page">
<body>
<div th:fragment="content">
    <div class="page-header">
        <h1 th:text="#{errors.heading}">Error</h1>
    </div>
    <div class="jumbotron">
        <h2>Internal server error!</h2>
        <p class="lead">Something wrong happens on server side :(</p>
        <p class="lead">Please, contact to administrator</p>
        <a href="/" th:text="#{btn.goToIndexPage}" class="btn btn-lg btn-primary">goToIndexPage</a>
    </div>
</div>
</body>
</html>