<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      th:fragment="page">
<head>
    <title th:text="${title}">My Forum</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/4.0.0-2/css/bootstrap.min.css"/>
    <link rel="stylesheet" th:href="@{/css/theme.css}"/>
</head>
<body>

<header class="navbar navbar-expand navbar-white bg-white flex-column flex-md-row border-bottom box-shadow">
    <div sec:authorize="isAuthenticated()" th:remove="tag">
        <a class="navbar-brand text-dark my-0 mr-md-auto" href="/" th:text="#{header.siteName}">My Forum</a>
        <span th:utext="#{header.youAreLoggedAs(${#authentication.name})}" class="mx-1">You are logged as:</span>
        <a th:href="@{/profile}" th:text="#{header.profile}" class="mx-1 btn btn-outline-info">Profile</a>
        <form th:action="@{/logout}"
              method="post">
            <button type="submit" th:text="#{header.logout}" class="btn btn-outline-secondary">Logout</button>
        </form>
    </div>

    <div sec:authorize="isAnonymous()" th:remove="tag">
        <a href="/" th:text="#{header.siteName}" class="navbar-brand text-dark my-0 mr-md-auto">My Forum</a>
        <a th:href="@{/login}" th:text="#{header.signIn}" class="mx-1 btn btn-outline-secondary">Sign In</a>
        <a th:href="@{/registration}" th:text="#{header.signUp}" class="mx-1 btn btn-outline-primary">Sign Up</a>
    </div>
</header>

<div class="container">
    <div th:replace="this :: content"></div>
</div>

<div class="container">
    <footer class="pt-4 my-md-5 border-top">
        <div class="container">
            <p class="small text-center text-dark" th:utext="#{footer.copyright}">&copy; Copyright</p>
        </div>
    </footer>
</div>

<script type="text/javascript" src="/webjars/jquery/3.2.1/jquery.min.js"></script>
<script type="text/javascript" src="/webjars/bootstrap/4.0.0-2/js/bootstrap.min.js"></script>
<div th:replace="this :: scripts"></div>

</body>
</html>